.button{
    background-color: hsl(208, 100%, 50%);
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer !important;
    animation-delay: 500ms;
  }